html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.header,
.footer {
  flex: 0 0 auto;
  max-width: 100%;
}

.main {
  width: 100%;
  max-width: 64rem;
  padding: 2rem;
  margin: 0 auto;
  flex: 1 0 auto;
}
